<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
	</head>
</html>
<body>
	<h1><%= yield(:title) %></h1>
	<p>
		This website is my first one made using the Ruby on Rails framework.</br>
		Not so bad...</br></br>
		
		All the credits for the tutorial to Michael Hart.
	</p>
</body>
