<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
	</head>
</html>
<body>
	<h1><%= yield(:title) %></h1>
	<p>
		Why do you need help ? IT'S A SAMPLE APP !
	</p>
</body>

